@import 'reset';

body {
  background-image: url(../assets/imgs/fight-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Press Start 2P';
  height: 1000px;
  font-family: 'Press Start 2P';
}
body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background-color: #fff;
  opacity: .2;
  z-index: -1;
  height: 700px;
}

main {
  position: absolute;
  background-color: rgba(255, 255, 255, .6);
  top: 20px;
  left: 20px;
  right: 20px;
  padding: 20px;
}
.player-name {
  font-size: 50px;
  color: #444;
  text-align: center;
}
.time {
  font-size: 40px;
  position: absolute;
  top: 30px;
  right: 50px;
}
.fight-state {
  width: 540px;
  margin: 0 auto;
}
.fight-ready {
  padding-top: 180px;
  padding-left: 100px;
}

.hide {
  display: none;
}

.fight-active {
  width: 540px;
}

progress {
  width: 600px;
  height: 60px;
  background-color: #fff;
  display: block;
  margin: 20px auto;
}
progress[value]::-webkit-progress-value {
  background-image: linear-gradient(to right, #ff0000 0%, #ff0000 12%, #ff7400 35%, #f7ef00 67%, #39f700 90%);

  border-radius: 2px;
}
p {
  text-align: center;
}
.fight-btn {
  display: block;
  width: 500px;
  background-color: #ddd;
  border: 4px solid #999;
  padding: 16px;
  border-radius: 10px;
  font-size: 44px;
  font-family: 'Press Start 2P';
  margin: 0 auto;
  display: block;
  margin-top: 40px;
}

/* result */
.table {
  margin: 20px auto 0;
  width: 80%;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, .7);
}

.table caption {
  font-size: 30px;
  margin-bottom: 10px;
}

.table th {
  border-bottom: 2px solid #444;
}

.table th, .table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #444;
}


.back-btn {
  display: block;
  background-color: #666;
  padding: 10px 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
}