@import 'reset';

body {
  background-image: url(../assets/imgs/fight-bg.jpg);
  // background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Press Start 2P';
  // height: 100vh;
}
body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  opacity: .2;
  z-index: -1;
}
.time {
  font-size: 40px;
  position: absolute;
  top: 30px;
  right: 50px;
  color: #000;
}

.lobby-wrap {
  position: absolute;
  background-color: rgba(255, 255, 255, .5);
  top: 20px;
  left: 20px;
  right: 20px;
  // bottom: 20px;
  padding: 20px;
}
.back-btn {
  display: inline-block;
  background-color: #666;
  padding: 10px 20px;
  position: relative;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.player-list {
  width: 620px;
  margin: 20px auto;
}
.player {
  font-size: 36px;
  margin-bottom: 30px;
}

/* Todo list */
.task-list-item-checkbox {
  margin: 0.18em 0 0.2em -1.3em !important;
}
.player-check {
  appearance: none;
  position: relative;
  top: -44px;
  left: -10px;
  margin: 0 1rem 0 0;
  cursor: pointer;

  &:before {
    transition: all 0.1s ease-in-out;
    content: '';
    position: absolute;
    left: 0;
    z-index: 1;
    width: 30px;
    height: 30px;
    border: 8px solid #F44336;
  }
  &:checked::before {
    transform: rotate(-48deg);
    height: 9px;
    border-color: #00E676;
    border-top-style: none;
    border-right-style: none;
    top: 15px;
    left: 8px;
  }
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    width: 38px;
    height: 38px;
    background: #333;
    cursor: pointer;
  }
}

.current-player-check {
  width: 400px;
  background-color: #ddd;
  border: 4px solid #999;
  padding: 16px;
  border-radius: 10px;
  font-size: 44px;
  font-family: 'Press Start 2P';
  margin: 0 auto;
  display: block;
  margin-top: 40px;
}
.active {
  background-color: #bbf;
}