body {
  margin: 0;
}

body {
  background-image: url(../assets/imgs/indexBG.jpeg);
  background-size: cover;
}

.user input {
  display: block;
  font-size: 40px;
  width: 500px;
  height: 100px;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 100px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 1em #222;
          box-shadow: 0 0 1em #222;
  outline: 0;
  border: 0;
  color: #444;
  padding-left: 30px;
  opacity: .8;
}

.user button, .user a {
  display: block;
  width: 500px;
  margin: auto;
  background-color: #f8f7f2;
  opacity: .8;
  margin-bottom: 60px;
  color: #444;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 1em #222;
          box-shadow: 0 0 1em #222;
}

.user button h2, .user h2 {
  font-size: 40px;
  font-weight: 800;
  margin: 20px 0;
}

.user button:hover, .user a:hover {
  background-color: black;
  -webkit-box-shadow: 0 0 10em #ff0606;
          box-shadow: 0 0 10em #ff0606;
  color: #fff;
}

.user a {
  display: block;
  text-decoration: none;
  text-align: center;
  line-height: 100px;
}

.status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 32px;
}
/*# sourceMappingURL=main.css.map */